.form-gap{
    padding-top:50px;

}

.logo span{
    padding-left:75px;
    font-size:0.8em;
    font-weight:300;
}

h2 {
    color:white;
    text-align:center;
}

h5 {
    color:white;
    text-align:center;

}

.card{
    float:center;
}

p{
    color:white;
    text-align:center; 
}

a:hover{
    text-decoration: none;
}